---
const {
    title = "Knrc Games | C# Unity Developer | Portfolio",
    description = "Hello and welcome to my website! I'm a Unity C# Developer based in Hamburg, Germany. I love creating games by improving or developing new game mechanics while also having fun creating innovative game experiences.",
} = Astro.props;
---

<link rel="sitemap" href="/sitemap-index.xml" />
<link rel="canonical" href="https://knrc.art" />

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{title}</title>
<meta name="description" content=`${description}` />
<meta name="author" content="Mikey Broz" />
<meta name="copyright" content="Knrc" />
<meta name="robots" content="index, follow" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content=`${title}`/>
<meta name="twitter:site" content="@knrcart" />
<meta name="twitter:description" content=`${description}` />

<meta property="og:type" content="website" />
<meta property="og:title" content=`${title}` />
<meta property="og:url" content="https://www.knrc.art" />
<meta property="og:image" content="" />
<meta property="og:description" content=`${description}` />
